<main class="main">
  <div class="content">
    <!-- Your content goes here -->
    <h1>Welcome to Gorum - The Gamers Forum</h1>
    <p>
      Life is like a game. The more you play, the better you get. Don't be
      afraid to level up, take risks, and conquer challenges. Remember, every
      game over is just another opportunity to respawn and try again. Keep
      playing, keep learning, and never forget that in the world of gaming, as
      in life, victory belongs to those who persevere.
    </p>
  </div>
</main>
